[data-v-04a8b554] .splide__list,
[data-v-04a8b554] .splide__slide,
[data-v-04a8b554] .splide__track {
    height: 100%
}

[data-v-04a8b554] .splide__slide {
    display: flex
}

#my-canvas-object[data-v-2544d0c4] {
    width: 100% !important;
    height: 100% !important
}

#my-canvas-object[data-v-2544d0c4] .konvajs-content {
    position: static !important;
    width: 100% !important;
    height: 100% !important
}

#my-canvas-object[data-v-2544d0c4] .konvajs-content canvas {
    position: static !important;
    margin: 0 auto !important;
    width: auto !important;
    height: auto !important
}

a[data-v-4add9bc2] {
    display: inline-block
}

a>div[data-v-4add9bc2] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

a>div.vertical[data-v-4add9bc2] {
    flex-direction: column
}