.canvas_load_progress[data-v-5f699055] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    pointer-events: none
}

.check-image[data-v-5f699055] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 3px solid #000;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll
}

.check-image img[data-v-5f699055] {
    width: 600px;
    height: 600px;
    max-width: unset
}

.save_popup_actions {
    margin-left: 1.6em;
    margin-right: 1.6em
}

.save_popup_cancel_button {
    width: 100%
}

.imagemaker_save_btn[data-v-5f699055] {
    background-color: #fff;
    color: #333
}

.imagemaker_complete_btn[data-v-5f699055] {
    background-color: #ff597e;
    color: #fff
}

.icon-button[data-v-5f699055] {
    width: 48px;
    height: 48px;
    padding: 0;
    transition: transform .1s linear;
    overflow: hidden
}

.icon-button[data-v-5f699055]:hover {
    transform: scale(1.1)
}

.icon-button[data-v-5f699055] .fa-camera,
.icon-button[data-v-5f699055] .fa-cloud-arrow-up {
    font-size: 1.2em
}

.icon-button[data-v-5f699055] .text {
    font-size: 14px
}

.icon-button[data-v-5f699055] .locked {
    display: inline-block;
    position: relative
}

.icon-button[data-v-5f699055] .locked:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -2px;
    bottom: -1px;
    font-size: 8px;
    color: orange
}

.icon-button[data-v-5f699055] .with-star {
    display: inline-block;
    position: relative
}

.icon-button[data-v-5f699055] .with-star:before {
    top: 0;
    left: -10px
}

.icon-button[data-v-5f699055] .with-star:after,
.icon-button[data-v-5f699055] .with-star:before {
    content: "";
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    font-size: 7px
}

.icon-button[data-v-5f699055] .with-star:after {
    right: -10px;
    bottom: 0
}

.app-icon-buttons[data-v-5f699055] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto 0
}

.app-icon-buttons a[data-v-5f699055] {
    display: inline-block;
    line-height: 0
}

.app-icon-buttons a img[data-v-5f699055] {
    width: 240px
}